@keyframes makethisbig {
  0% {
    transform: translateY(250px);
  }
  
  50% {
    transform: translateY(0);
  }
  
  60% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }
  
  100% { 
    height:  250px;
    width: 100%; 
    transform: translateY(0);
  }
}

/*
./div.earth{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0.05em auto;
  background: #888 url(https://i.pinimg.com/originals/ec/40/af/ec40af43459fdc620f6ad873a6ac46de.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 16s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  border-style: solid;
  box_shadow: inset 20px 0 80px 6px rgb(0,0,0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #FF0000;
  z-index: 1;
}
*/


body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


#myletter {
    display: block;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 4s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo {
    #background-color: red;
    border-radius: 10px 100px / 120px;
    padding: 1rem;
    margin: 0 0.5rem;
}

#myPics {
    border-radius: 30px;
}

.main-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    position: relative;
    border: 2px solid #333;
    overflow: hidden;
}

#circle1 {
  border-radius: 50%; 
  position: absolute; 
  color: white;
  line-height: 100px;
  font-size: 12px;
  text-align: center;  
  height: 100px;
  width: 100px;
  background: seagreen;
}

#circle2 {
  border-radius: 50%;
  position: absolute;
  height: 225px;
  width: 225px;
  background: cornflowerblue;
}

#circle2.hit {
  background: tomato;
}

// Stuff under here is for envelope




@keyframes makethisbig {
  0% {
    transform: translateY(250px);
  }
  
  50% {
    transform: translateY(0);
  }
  
  60% {
    height: 100px;
    width: 90px;
    transform: translateY(0) scale(1);
  }
  
  100% { 
    height:  250px;
    width: 100%; 
    transform: translateY(0) scale(2);
  }
}

@keyframes scalethendown {
  0% {
    height:  250px;
    width: 100%; 
    transform: translateY(0);
  }
  
  50% {
    height: 100px;
    width: 90px;
    transform: translateY(0);
  }
  
  60% {
    transform: translateY(0);
  }
  
  100% { 
    transform: translateY(250px);
  }
}

@keyframes waitfade {
  0%, 50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(310px) rotate(0);
  }
  
  25% {
    transform: translateY(310px) rotate(2deg);
  }
  
  50% {
    transform: translateY(310px) rotate(0deg);
  }
  
  75% {
    transform: translateY(310px) rotate(-2deg);
  }
  
  100% {
    transform: translateY(310px) rotate(0);
  }
}


.letter {
  margin: 150px auto;
  max-width: 350px;
  height: 375px;
  position: relative;
  overflow: hidden;
  display: block;
}

.letter--open .paper {
  animation-name: makethisbig;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

.letter--close .paper {
  animation-name: scalethendown;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

.letter--open .paper-content {
  animation-name: waitfade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.letter--open .envelope {
  animation: pause;
}

.paper-content {
  color: #545454;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 25px;
  opacity: 0;
}

.paper {
  height: 50px;
  width: 90px;
  background: #f1f0c3;
  transform: translateY(250px);
  margin: 0 auto;
  transition: transform 0.3s 0.1s ease;
  border-radius: 2px;
  position: relative;
}

.envelope {
  width: 94px;
  height: 60px;
  background: #f36363;
  position: relative;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.3s ease;
  transform: translateY(310px);
  animation: wiggle 0.3s 0.2s infinite;
  &:hover {
    animation: pause;
    & .envelope-paper {
        transform: translateY(-20px);
    }
    & .envelope-flap {
      transform: translateY(-45px);
    }
    & .envelope-detail::after {
      visibility: hidden;
    }
  }
}

.envelope-paper {
  height: 50px;
  width: 90px;
  background: #f1f0c3;
  transform: translateY(0);
  margin: 0 auto;
  transition: transform 0.3s 0.1s ease;
  border-radius: 2px;
  position: absolute;
  border: 2px solid transparent;
}

.letter--open .envelope-paper {
  visibility: hidden;
}

.letter--open .envelope-detail::after {
   visibility: hidden;
 }


.letter--close .envelope-paper {
  visibility: hidden;
}

.envelope-flap {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #f36363;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transform: translateY(0);
}

.letter--open .envelope-flap {
  transform: translateY(-45px);
}

.letter--open .envelope-detail {
  border-top: 2px solid #e25b5b;
}

.envelope-detail {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background: #f36363;
    border-top: 2px solid transparent;
    &:before {
    content: '';
    width: 70px; 
    height: 70px;
    background: #f36363;
    display: inline-block;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
  &:after {
    content: '';
    width: 70px; 
    height: 70px;
    background: #f36363;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: auto;
    transform: rotate(45deg);
    border: 4px solid #e65454;
  }
}

.envelope__fold {
  height: 25px;
  width: 86px;
  background: #f36363;
  border: 4px solid #e65454;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.paper-close {
  position: absolute;
  right: 10px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
}


:root {
  --color:lightgray;
  --border-radius:10px;
  --image:url('https://media.gettyimages.com/vectors/cute-cartoon-dachshunds-in-love-vector-id865392634?s=2048x2048');
}

#mypuzzle {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

#puz, #puzz {
  position:absolute;
  border-radius:var(--border-radius) 0 var(--border-radius) 0;    
  user-select:none;
}
#puz {
  width:300px;
  height:300px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}
#puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:100px;
  height:100px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:100px;
  height:100px;
  background:var(--color);
  background-image:var(--image);
  background-size:300px 300px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}

.first {
  border-top-left-radius:var(--border-radius);
  background-position:left top !important;
}
.secon {
  background-position:center top !important;
}
.third {
/*   border-top-right-radius:var(--border-radius); */
  background-position:right top !important;
}
.fourt {
  background-position:left center !important;
}
.fifth {
  background-position:center center !important;
}
.sixth {  
  background-position:right center !important;
}
.seven {
/*   border-bottom-left-radius:var(--border-radius); */
  background-position:left bottom !important;
}
.eight {
  background-position:center bottom !important;
}
.ninth {
  border-bottom-right-radius:var(--border-radius);
  background-position:right bottom !important;
}

.clicked {
  box-shadow:0 0 0 4px gray !important;
}

.dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:300px 300px;
}
.done {
  opacity:0;
  pointer-events:none;
}

.allDone {
  animation:allDone 1s linear forwards;
  border:3px solid lightgray !important;
}
.allDone i {
  outline:0 !important;
}

@keyframes allDone {
  50% { transform:translate(-50%,-50%) scale(1.2); }
}

#clicks {
  font-size:8px;
  font-family:monospace;
  position:absolute;
  bottom:5px;
  right:5px;
}




#myheart {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

#image1 {
  mix-blend-mode: multiply;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.container {
  position: relative;
}

.draggable {
  width: 150px;
  height: 150px;
  position: absolute;
  user-drag: element;
  user-select: none;
}

#heart {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}






.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
/* ============================================== BASE
*/
.cake:after {
  background: #ebe3e1;
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
}
/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 5px;
  height: 16.666666666666668px;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.2222222222222223px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 12.5px;
}
.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
}
.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
}
.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
}
.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
}
.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
}
/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-transform: translateY(-20px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
}
/* ============================================== Frosting
*/
.cobertura {
  background: #ece7e3;
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.77777777777778px;
  margin-top: -5px;
  width: 55.55555555555556px;
  height: 12.5px;
  z-index: 10;
}
.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
}
.cobertura:after {
  top: 6.666666666666667px;
  right: 14.285714285714286px;
}
.cobertura:before {
  top: 10px;
  right: 9.090909090909092px;
}
/* ============================================== BIZCOCHO
*/
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.333333333333336px;
}
.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}
.bizcocho:after {
  top: 30%;
  left: 0;
}
.bizcocho:before {
  top: 60%;
  left: 0;
}


h2,
.words {
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
h2 {
  color: #6c5299;
  font-size: 1em;
  margin-top: 6.8em;
}
.words {
  color: rgba(236, 231, 227, 0.6);
  font-size: 0.8em;
  line-height: 2em;
}







/*
 background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
*/

#solarsystem {
 mix-blend-mode: multiple;
}
.circle_thing {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 1px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.earth {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, blue, #418ccc);
  animation: earth-rotate 5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.sun {
  display: block;
  background: black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: radial-gradient(circle at 100px 100px, yellow, #000);
}

.solar-system {
  width: 1000px;
  heigth: 1000px;
}

.moon {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, green, #fff);
  animation: moon-rotate 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@keyframes earth-rotate {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

@keyframes moon-rotate {
  from {
    transform: rotate(0deg) translateX(40px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(40px) rotate(-360deg);
  }
}
