/*
./div.earth{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0.05em auto;
  background: #888 url(https://i.pinimg.com/originals/ec/40/af/ec40af43459fdc620f6ad873a6ac46de.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 16s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  border-style: solid;
  box_shadow: inset 20px 0 80px 6px rgb(0,0,0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #FF0000;
  z-index: 1;
}
*/

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 4s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo {
    #background-color: red;
    border-radius: 10px 100px / 120px;
    padding: 1rem;
    margin: 0 0.5rem;
}

#myPics {
    border-radius: 10px 100px / 120px;
}

.main-container {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    position: relative;
    border: 2px solid #333;
    overflow: hidden;
}

.draggable {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    cursor: move;
    user-select: none; /* Disable text selection */
    z-index: 5;
}

#boy{
    z-index:5;
}






